.page-title {
    margin: 20px;
}
.submit-button {
    margin: 20px;
    height: 39px;
    font-size: 14px;
    border: 1px solid var(--main-button-border-color);
    background-color: var(--main-button-background-color);
    text-transform: uppercase;
    padding: 0 15px;
    display: block;
}
#rooms {
    margin: 50px;
    display: flex;
    flex-direction: row;

}
.room-card {
    margin-right: 30px;
    width: 200px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.connected-players {
    margin: 10px 10px 30px;
    font-size: 0.8em;
    align-self: flex-start;
}
.room-card .submit-button {
    font-size: 0.7em;
} 
#game {
    display: flex;
    flex-direction: row;
}
.back-button {
    margin-right: 40vw;
    display: inline;
}
#game-timer {
    display: inline;
}
#users-list {
    margin: 80px 80px 80px 20px;
    width: 20vw;
    list-style: none;
    display: inline-flex;
    flex-direction: column;
}
.user {
    margin: 20px;
}
.ready-indicator {
    margin: 0 20px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}
.user.ready .ready-indicator {
    background-color: #4bda4b;
}
.user.not-ready .ready-indicator {
    background-color: #da4b4b;
}
.progress-bar-container {
    width: 230px;
    margin-top: 10px;
    height: 25px;
    border: 1px solid #000;
}
.progress-bar {
    height: 100%;
    background-color: #4bda4b;
}
#game-field {
    width: 50vw;
    height: 40vw;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ready-button {
    padding: 15px 20px;
    width: 200px;
    height: auto;
    font-size: 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#timer-to-start {
    font-size: 4em;
}
#game-text-container {
    max-width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
}
#game-text-highlighted {
    background-color: rgba(20,172,211,.5);
}